/* app css stylesheet */

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
   font-family: "Quattrocento", serif !important;
}

/*general positioning*/

#container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 5%;
}

#vis_container {
  border: 1px solid #DFDFE0;
  border-radius: 3px;
  box-shadow: 0px 0px 20px #111;
  -moz-box-shadow: 0px 0px 20px #DFDFE0;
  -webkit-box-shadow: 0px 0px 20px #DFDFE0;
  height: 400px; /*change this to auto*/
}

div#leagueFilter {
  border-left: 1px solid #DFDFE0;
  border-top: 1px solid #DFDFE0;
  border-bottom: 1px solid #DFDFE0;
  width: 40px;
  margin-top: 10%;
  margin-left: -40px;
  float: left;
}

  div#leagueFilter input {
    width: 40px;
    margin: 5px 0px;
  }

div#topscorerInfoFilter {
  border-left: 1px solid #DFDFE0;
  border-top: 1px solid #DFDFE0;
  border-right: 1px solid #DFDFE0;
  height: 30px;
  width: 30%;
}

  div#topscorerInfoFilter input label {
    float:left;
    margin: 8px 20px;
  }

/*END general positioning*/